/* Fonts */

@font-face {
    font-family:'Core Sans';
    src:url('../fonts/coresansn35light.eot');
    src:url('../fonts/coresansn35light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/coresansn35light.woff') format('woff'),
        url('../fonts/coresansn35light.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:'Core Sans';
    src:url('../fonts/coresansn55medium.eot');
    src:url('../fonts/coresansn55medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/coresansn55medium.woff') format('woff'),
        url('../fonts/coresansn55medium.ttf') format('truetype');
    font-weight:600;
    font-style:normal;
}
@font-face {
    font-family:'Road Radio';
    src:url('../fonts/roadradio.eot');
    src:url('../fonts/roadradio.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roadradio.woff') format('woff'),
        url('../fonts/roadradio.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Road Radio';
    src:url('../fonts/roadradiob.eot');
    src:url('../fonts/roadradiob.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roadradiob.woff') format('woff'),
        url('../fonts/roadradiob.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Road Radio';
    src:url('../fonts/roadradiobl.eot');
    src:url('../fonts/roadradiobl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roadradiobl.woff') format('woff'),
        url('../fonts/roadradiobl.ttf') format('truetype');
    font-weight:800;
    font-style:normal;
}
@font-face {
    font-family:'Road Radio';
    src:url('../fonts/roadradiot.eot');
    src:url('../fonts/roadradiot.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roadradiot.woff') format('woff'),
        url('../fonts/roadradiot.ttf') format('truetype');
    font-weight:200;
    font-style:normal;
}
@font-face {
    font-family:'Myriad Pro';
    src:url('../fonts/myriadpro.eot');
    src:url('../fonts/myriadpro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriadpro.woff') format('woff'),
        url('../fonts/myriadpro.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

/* Default */

html {
	height:100%;
}
body {
	width:100%;
	height:100%;
	color:#000000;
	font-size:12px;
	line-height:16px;
	font-weight:300;
    font-family:'Core Sans', sans-serif;
	padding:0;
	margin:0;
	background:#1d1e20;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 16px;
}
table {
	margin:0 0 16px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#21b7dc;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#000000;
	font-size:12px;
	font-weight:300;
    font-family:'Core Sans', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
}
textarea {
	overflow:auto;
}
button {=
    font-family:'Core Sans', sans-serif;
	margin:0;
	border:0;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder {
	color:#939393;
}
:-moz-placeholder {
	color:#939393;
}
::-moz-placeholder {
	color:#939393;
}
:-ms-input-placeholder {
	color:#939393;
}
.wrapper {
	position:relative;
	max-width:1280px;
	min-height:100%;
	margin:0 auto;
	background:#ffffff;
	-webkit-box-shadow:0 0 15px #17181a;
	-moz-box-shadow:0 0 15px #17181a;
	box-shadow:0 0 15px #17181a;
	behavior:url('./pie.htc');
}

/* Header */

.header {
	position:relative;
	background:url('../img/header_bg.jpg') no-repeat center top;
}
.header > div {
	position:relative;
	width:980px;
	height:786px;
	margin:0 auto;
}
.header > div > img {
	position:absolute;
	left:0;
	top:0;
}
.header > div > ul {
	position:absolute;
	right:0;
	top:23px;
	margin:0;
}
.header > div > ul:before {
	content:'';
	position:absolute;
	left:-37px;
	top:-3px;
	width:21px;
	height:21px;
	background:url('../img/header_ul.png') no-repeat left top;
}
.header > div > ul > li {
	position:relative;
	float:left;
	font-size:12px;
	line-height:16px;
    font-family:'Road Radio', sans-serif;
	padding:0 0 0 22px;
	margin:0 0 0 20px;
	background:url('../img/header_li.png') no-repeat left 2px;
}
.header > div > ul > li:first-child {
	padding-left:0;
	margin-left:0;
	background:none;
}
.header > div > ul > li a {
	color:#ffffff;
	text-decoration:none;
	border-bottom:1px solid transparent;
}
.header > div > ul > li a:hover {
	border-bottom:1px solid #ffffff;
}
.header > div > div {
	position:absolute;
	left:0;
	color:#ffffff;
	top:192px;
	width:890px;
}
.header h1 {
	font-size:40px;
	line-height:43px;
	font-weight:200;
    font-family:'Road Radio', sans-serif;
	padding:0;
	margin:0 0 30px;
}
.header h1 span {
	display:block;
	font-size:70px;
	line-height:73px;
	font-weight:bold;
	padding:0;
	margin:0 0 -13px;
}
.header > div > div p {
	font-size:22px;
	line-height:32px;
	margin:0 270px 32px 0;
}
.header > div > div p strong {
	display:block;
	font-weight:600;
}
.support {
	position:relative;
	width:980px;
	z-index:1;
	text-align:right;
	margin:-45px auto 89px;
}
.support h2 {
	display:inline-block;
	color:#263037;
	font-size:28px;
	line-height:31px;
	font-weight:200;
    font-family:'Road Radio', sans-serif;
	letter-spacing:1px;
	padding:0 0 12px;
	margin:0 0 101-px;
	border-bottom:1px solid #d9d9d9;
}
.support ul {
	text-align:left;
	white-space:nowrap;
	margin:0 0 20px;
}
.support ul li {
	display:inline-block;
	vertical-align:middle;
	margin:0 -13px 0 109px;
}
.support ul li:first-child {
	margin-left:0;
}
.schedule {
	height:900px;
	background:url('../img/schedule_bg.jpg') no-repeat center bottom;
}
.schedule > div {
	position:relative;
	width:980px;
	margin:0 auto 20px;
}
.schedule h2 {
	position:relative;
	color:#263037;
	font-size:26px;
	line-height:29px;
	font-weight:200;
    font-family:'Road Radio', sans-serif;
	text-align:center;
	padding:0;
	margin:0 0 66px;
}
.schedule h2:before {
	content:'';
	position:absolute;
	left:0;
	top:15px;
	width:980px;
	height:1px;
	background:#d9d9d9;
}
.schedule h2 span {
	position:relative;
	display:inline-block;
	padding:0 48px;
	background:#ffffff;
}
.schedule ul {
	text-align:center;
	margin:0;
}
.schedule ul li {
	display:inline-block;
	width:220px;
	vertical-align:top;
	margin:0 7px 0 16px;
}
.schedule ul li:first-child {
	margin-left:10px;
}
.schedule ul li div {
	position:relative;
	width:220px;
	height:52px;
	margin:0 0 27px;
}
.schedule ul li div img {
	position:absolute;
	top:0;
	right:0;
	left:0;
	max-width:220px;
	max-height:52px;
	margin:auto;
}
.schedule ul li p {
	color:#292b2f;
	font-size:13px;
	line-height:20px;
    font-family:'Myriad Pro', sans-serif;
	margin:0;
}
.schedule h5 {
	position:absolute;
	top:546px;
	left:0;
	width:980px;
	font-size:28px;
	line-height:31px;
    font-family:'Road Radio', sans-serif;
	font-weight:200;
	text-align:center;
	padding:0;
	margin:0;
}
.disclaimer {
	padding:22px 0 56px;
	background:#23262b;
}
.disclaimer > div {
	width:980px;
	color:#ffffff;
	text-align:center;
	margin:0 auto;
}
.disclaimer p {
	font-size:22px;
	line-height:32px;
	margin:0 84px 18px;
}
.disclaimer h6 {
	font-size:14px;
	line-height:17px;
	font-weight:normal;
	padding:0;
	margin:0 0 18px;
}
.map {
	position:relative;
	height:621px;
}
.map iframe {
	margin:0 0 -4px;
}
.map > div {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	text-align:center;
	padding:34px 0 28px;
	background:url('../img/map_div.png') repeat;
}
.map > div p {
	width:980px;
	color:#ffffff;
	font-size:22px;
	line-height:32px;
	margin:0 auto;
}
.form {
	padding:77px 0 50px;
	background:#292b2f;
}
.form > div {
	width:980px;
	text-align:center;
	margin:0 auto;
}
.form h2 {
	position:relative;
	color:#ffffff;
	font-size:23px;
	line-height:26px;
	font-weight:800;
    font-family:'Road Radio', sans-serif;
	padding:0;
	margin:0 0 41px;
}
.form h2:before {
	content:'';
	position:absolute;
	left:0;
	top:10px;
	width:980px;
	height:1px;
	background:#3a4045;
}
.form h2 span {
	position:relative;
	display:inline-block;
	padding:0 20px;
	background:#292b2f;
}
.form p {
	width:650px;
	color:#626f78;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
    font-family:'Road Radio', sans-serif;
	margin:0 auto 43px;
}
.form p span {
	display:block;
	margin:0 0 11px;
}
.form p input {
	width:614px;
	color:#ffffff;
	font-size:23px;
	text-align:center;
	text-transform:uppercase;
	padding:15px 15px 14px;
	border:3px solid #626f78;
}
.form p em {
	display:inline-block;
	color:#ffffff;
	font-size:14px;
	line-height:17px;
	font-weight:300;
	font-style:normal;
    font-family:'Core Sans', sans-serif;
	text-transform:none;
	vertical-align:top;
	padding:13px 0 0;
	margin:0 15px 0 17px;
}
.form p em .checker {
	float:left;
	margin:-4px 11px 0 0;
}
.form button {
	position:relative;
	width:226px;
	color:#ffffff;
	font-size:14px;
	line-height:17px;
	font-weight:bold;
    font-family:'Road Radio';
	text-align:center;
	cursor:pointer;
	padding:22px 0 21px;
	margin:3px 0 20px;
	background:#5d9b05;
	border:3px solid #ffffff;
}
.form button:before, .form button:after {
	content:'';
	position:absolute;
	top:30px;
	width:366px;
	height:1px;
	background:#3a4045;
}
.form button:before {
	left:-388px;
}
.form button:after {
	right:-388px;
}
.footer {
	background:url('../img/footer_bg.jpg') no-repeat center top;
}
.footer > div {
	position:relative;
	width:980px;
	height:175px;
	margin:0 auto;
}
.footer p {
	color:#ffffff;
	font-size:11px;
	line-height:18px;
	margin:0;
	opacity:0.3;
	filter:alpha(opacity=30)
}
.footer > div > div {
	position:absolute;
	left:0;
	top:93px;
	width:650px;
}
.footer > div > p {
	position:absolute;
	right:0;
	top:93px;
}